docs/page.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.rustleund.com/fighting-fantasy/page" 
	elementFormDefault="qualified" 
	xmlns:page="http://www.rustleund.com/fighting-fantasy/page">

	<element name="page" type="page:page"></element>

	<complexType name="page">
        <annotation>
        	<documentation>The main element of a page.</documentation>
        </annotation>
        <sequence>
			<element name="pagetext" type="page:pagetextContent" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>This contains the main text that will be displayed to the user when the page loads.</documentation>
				</annotation></element>
			<element name="immediate" type="page:commands" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="multicommand" type="page:multicommand" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="battle" type="page:battle" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="text" type="page:text" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="keepminimum" type="page:keepminimum" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="pagetextHtmlContent" mixed="true">
        <annotation>
        	<documentation>Should be valid HTML.</documentation>
        </annotation>
        <sequence>
			<any minOccurs="0" maxOccurs="unbounded" processContents="skip" />
		</sequence>
	</complexType>

	<complexType name="pagetextContent">
        <annotation>
        	<documentation>The HTML content of the page text. Must be contained within an <![CDATA[<html>]]> tag.</documentation>
        </annotation>
        <sequence>
			<element name="html" type="page:pagetextHtmlContent" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>


	<complexType name="text">
		<sequence>
			<any minOccurs="0" maxOccurs="unbounded" processContents="skip" />
		</sequence>
		<attribute name="id" type="int" use="required"></attribute>
	</complexType>

	<complexType name="commands">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="addBattleEffectsForNextBattle" type="page:addBattleEffects" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="addBattleEffectsToCurrentBattle" type="page:addBattleEffects" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="addBattleEffectsToNextBattleRound" type="page:addBattleEffects" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="addBattleMessage" type="page:addBattleMessage" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="addEnemies" type="page:addEnemies" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="addItem" type="page:addItem" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="adjustEnemyScale" type="page:adjustEnemyScale" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="adjustFirstNonDeadEnemyAttackStrength" type="page:adjustByAmount" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="adjustPlayerAttackStrength" type="page:adjustByAmount" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="adjustPlayerDamageModifier" type="page:adjustByAmount" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="adjustScale" type="page:adjustScale" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="clearBattleMessage" type="page:clearBattleMessage" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="clearPoisonDamage" minOccurs="0" maxOccurs="unbounded">
				<complexType></complexType>
			</element>
			<element name="displayText" type="page:displayText" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="displayEnemies" type="page:displayEnemies" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="doBattle" type="page:doBattle" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="flaggedLink" type="page:flaggedLink" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="initPlayer" minOccurs="0" maxOccurs="unbounded">
				<complexType></complexType>
			</element>
			<element name="link" type="page:link" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="mustEatMeal" type="page:mustEatMeal" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="removeItem" type="page:removeItem" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="restoreScale" type="page:restoreScale" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="rollDice" type="page:rollDice" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="setFlag" type="page:setFlag" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="setPoisonImmunity" type="page:setPoisonImmunity" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="testAnyFlag" type="page:testAnyFlag" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="testFlag" type="page:testFlag" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="testItem" type="page:testItem" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="testLuck" type="page:testContentWithAdjustment" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="testSkill" type="page:testContentWithAdjustment" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="testStat" type="page:testStat" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="testStatText" type="page:testStatText" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="testEnemySkill" type="page:testEnemySkill" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="testEnemyStat" type="page:testEnemyStat" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="testEnemyTypes" type="page:testEnemyTypes" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="testPlayerAttackStrengthDifferenceFromEnemy" type="page:testNumber" minOccurs="0" maxOccurs="unbounded"></element>
		</choice>
	</complexType>

	<complexType name="adjustScale">
		<complexContent>
			<extension base="page:adjustScaleBase">
				<attribute name="type" use="required" type="page:scales"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="adjustScaleBase">
		<attribute name="amount" type="double" use="required"></attribute>
		<attribute name="promptOnFail" type="boolean" use="optional"></attribute>
		<attribute name="useAmountAsValue" type="boolean" use="optional"></attribute>
		<attribute name="useAmountAsPercent" type="boolean" use="optional"></attribute>
		<attribute name="round" use="optional">
			<simpleType>
				<restriction base="string">
					<enumeration value="up"></enumeration>
					<enumeration value="down"></enumeration>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="adjustInitialValue" type="boolean" use="optional"></attribute>
		<attribute name="rollDiceAmount" type="int" use="optional" />
		<attribute name="negate" type="boolean" use="optional" default="false" />
	</complexType>

	<simpleType name="scales">
		<restriction base="string">
			<enumeration value="skill"></enumeration>
			<enumeration value="stamina"></enumeration>
			<enumeration value="time"></enumeration>
			<enumeration value="gold"></enumeration>
			<enumeration value="luck"></enumeration>
			<enumeration value="provisions"></enumeration>
			<enumeration value="honor"></enumeration>
			<enumeration value="nemesis"></enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="testStatValues">
		<restriction base="string">
			<enumeration value="attackStrength"></enumeration>
			<enumeration value="hitCount"></enumeration>
			<enumeration value="battleRound"></enumeration>
			<enumeration value="skill"></enumeration>
			<enumeration value="stamina"></enumeration>
			<enumeration value="time"></enumeration>
			<enumeration value="gold"></enumeration>
			<enumeration value="luck"></enumeration>
			<enumeration value="provisions"></enumeration>
			<enumeration value="honor"></enumeration>
			<enumeration value="nemesis"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="setFlag">
		<annotation>
			<documentation>Sets a flag (true/false) for the entire game. Flags must be uniquely identified.</documentation>
		</annotation>
		<attribute name="id" type="int" use="required">
			<annotation>
				<documentation>The unique identifier of the flag to set.</documentation>
			</annotation>
		</attribute>
		<attribute name="value" type="boolean" use="optional"></attribute>
	</complexType>

	<complexType name="testFlag">
		<complexContent>
			<extension base="page:testContent">
				<attribute name="id" type="int" use="required"></attribute>

			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="testNumber">
		<complexContent>
			<extension base="page:testContent">
				<attribute name="lessThan" type="int" use="optional"></attribute>
    			<attribute name="greaterThan" type="int" use="optional"></attribute>
    			<attribute name="atLeast" type="int" use="optional"></attribute>
    			<attribute name="atMost" type="int" use="optional"></attribute>
    			<attribute name="equal" type="int" use="optional"></attribute>
    			<attribute name="notEqual" type="int" use="optional"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="testContent">
		<sequence minOccurs="1" maxOccurs="1">
			<element name="successful" type="page:commands" minOccurs="1" maxOccurs="1"></element>
			<element name="unsuccessful" type="page:commands" minOccurs="1" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="displayText">
		<attribute name="id" type="int" use="required"></attribute>
	</complexType>
	
	<complexType name="displayEnemies">
		<attribute name="battleId" type="int" use="required"></attribute>
	</complexType>

	<complexType name="battle">
		<sequence>
			<element name="enemies" type="page:enemies" minOccurs="1" maxOccurs="1"></element>
			<element name="effects" type="page:battleEffects" minOccurs="0" maxOccurs="1"></element>
		</sequence>
		<attribute name="id" type="int" use="required"></attribute>
		<attribute name="fightEnemiesTogether" type="boolean" use="optional"></attribute>
		<attribute name="canFlee" type="boolean" use="optional"></attribute>
	</complexType>

	<complexType name="enemies">
		<sequence>
			<element name="enemy" type="page:enemy" minOccurs="1" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="enemy">
		<sequence>
			<element name="onKilled" type="page:commands" minOccurs="0" maxOccurs="1"></element>
		</sequence>
		<attribute name="name" type="string" use="required">
			<annotation>
				<documentation>The name of the enemy.</documentation>
			</annotation>
		</attribute>
		<attribute name="skill" use="required">
			<annotation>
				<documentation>The enemy's skill level.</documentation>
			</annotation>
			<simpleType>
				<restriction base="int">
					<minInclusive value="0"></minInclusive>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="stamina" use="required">
			<annotation>
				<documentation>The enemy's stamina level.</documentation>
			</annotation>
			<simpleType>
				<restriction base="int">
					<minInclusive value="1"></minInclusive>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="poisonedWeapon" type="boolean" use="optional">
			<annotation>
				<documentation>true if the enemy has a poisoned weapon.</documentation>
			</annotation>
		</attribute>
		<attribute name="types" type="string" use="optional" />
	</complexType>

    <complexType name="battleEffects">
    	<sequence>
    		<element name="startBattle" type="page:commands" minOccurs="0" maxOccurs="1"></element>
    		<element name="startRound" type="page:commands" minOccurs="0" maxOccurs="1"></element>
    		<element name="playerFlee" type="page:commands" minOccurs="0" maxOccurs="1"></element>
    		<element name="playerHit" type="page:commands" minOccurs="0" maxOccurs="1"></element>
    		<element name="endRound" type="page:commands" minOccurs="0" maxOccurs="1"></element>
    		<element name="endBattle" type="page:commands" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="restoreScale">
    	<attribute name="type" type="page:scales" use="required"></attribute>
    </complexType>

    <complexType name="multicommand">
    	<complexContent>
    		<extension base="page:commands">
    			<attribute name="id" type="int" use="required"></attribute>

    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="addItem">
    	<attribute name="id" type="int" use="required"></attribute>
    	<attribute name="price" type="int" use="optional"></attribute>
    	<attribute name="quantity" type="int" use="optional"></attribute>
    	<attribute name="pageLimit" type="int" use="optional"></attribute>
    </complexType>

    <complexType name="testContentWithAdjustment">
    	<complexContent>
    		<extension base="page:testContent">
    			<attribute name="diceRollAdjustment" type="int" use="optional"></attribute>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="keepminimum">
    	<attribute name="scale" type="page:scales" use="required"></attribute>
    	<attribute name="value" type="int" use="required"></attribute>
    </complexType>

    <complexType name="testItem">
    	<complexContent>
    		<extension base="page:testNumber">
    			<attribute name="id" type="int" use="required"></attribute>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="testStat">
    	<complexContent>
    		<extension base="page:testNumber">
    			<attribute name="stat" type="page:testStatValues" use="required"></attribute>
    			<attribute name="useInitialValue" type="boolean" use="optional"></attribute>
    		</extension>
    	</complexContent>
    </complexType>

	<complexType name="testStatText">
		<complexContent>
			<extension base="page:testStat">
				<attribute name="success" type="int" use="required"></attribute>
				<attribute name="failure" type="int" use="required"></attribute>
			</extension>
		</complexContent>
	</complexType>
    
    <complexType name="testEnemyStat">
    	<complexContent>
    		<extension base="page:testStat">
    			<attribute name="enemyId" type="int" use="required"></attribute>
    		</extension>
    	</complexContent>
    </complexType>
    
    <complexType name="testEnemySkill">
    	<complexContent>
    		<extension base="page:testContentWithAdjustment">
    			<attribute name="enemyId" type="int" use="required"></attribute>
    		</extension>
    	</complexContent>
    </complexType>
    
    <complexType name="testEnemyTypes">
    	<complexContent>
    		<extension base="page:testContent">
    			<attribute name="equalAny" type="string" use="optional"></attribute>
    			<attribute name="enemyId" type="string" use="required"></attribute>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="link">
    	<attribute name="page" type="string" use="required"></attribute>
    </complexType>

    <complexType name="testAnyFlag">
    	<complexContent>
    		<extension base="page:testContent">
    			<attribute name="ids" type="string" use="required"></attribute>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="removeItem">
    	<attribute name="id" type="int" use="required"></attribute>
    </complexType>
    
    <complexType name="flaggedLink">
    	<attribute name="id" type="int" use="required"></attribute>
    	<attribute name="page" type="string" use="required"></attribute>
    </complexType>

    <complexType name="mustEatMeal">
    	<attribute name="amount" type="int" use="optional"></attribute>
    </complexType>

    <complexType name="rollDice">
    	<sequence>
    		<element name="doActions" minOccurs="1" maxOccurs="unbounded">
    			<complexType>
    				<complexContent>
    					<extension base="page:commands">
    						<attribute name="rolls" type="string" use="required"></attribute>
    					</extension>
    				</complexContent>
    			</complexType>
    		</element>
    	</sequence>
    	<attribute name="number" type="int" use="optional"></attribute>
    </complexType>

    <simpleType name="enemyScales">
    	<restriction base="string">
    		<enumeration value="skill"></enumeration>
    		<enumeration value="stamina"></enumeration>
    	</restriction>
    </simpleType>

    <complexType name="adjustEnemyScale">
    	<complexContent>
    		<extension base="page:adjustScaleBase">
    			<attribute name="enemyId" type="int" use="optional"></attribute>

    			<attribute name="type" type="page:enemyScales" use="required"></attribute>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="addBattleMessage">
    	<attribute name="message" type="string" use="required"></attribute>
    	<attribute name="messagePosition" use="optional">
			<simpleType>
				<restriction base="string">
					<enumeration value="BEGINNING"></enumeration>
					<enumeration value="END"></enumeration>
				</restriction>
			</simpleType>
		</attribute>
    </complexType>

    <complexType name="clearBattleMessage">
    	<attribute name="positionsToClear" type="string" use="optional"></attribute>
    </complexType>

    <complexType name="adjustByAmount">
    	<attribute name="amount" type="int" use="required"></attribute>
    </complexType>

    <complexType name="addBattleEffects">
    	<sequence>
    		<element name="battleEffects" type="page:battleEffects" minOccurs="1" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>

    <complexType name="addEnemies">
    	<sequence>
    		<element name="enemy" type="page:enemy" minOccurs="1" maxOccurs="unbounded"></element>
    	</sequence>
    	<attribute name="wait" use="required">
    		<simpleType>
    			<restriction base="int">
    				<minInclusive value="0"></minInclusive>
    			</restriction>
    		</simpleType>
    	</attribute>
    </complexType>

    <complexType name="setPoisonImmunity">
    	<attribute name="immune" type="boolean" use="required"></attribute>
    </complexType>
    
    <complexType name="doBattle">
    	<attribute name="id" type="int" use="required"></attribute>
    </complexType>
</schema>